body{
    font-family: sans-serif;
}
#test{
    height: 200px;
    width: 300px;
    background-color: darkcyan;
    text-align: center
}
#bold{
    height: 200px;
    width: 300px;
    background-color: burlywood;
    text-align: center
}
#panel,
#slide{
    padding: 5px;
    background-color: darkgreen;
    border: 1px solid black;
    text-align: center;
}
#slide{
    padding: 80px;
    display: none;
}
#dock{
    width: 300px;
    background-color: brown;
}
#jade{
    width: 300px;
    background-color: aquamarine;
}